* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #111;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: #fff;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.destination>.heading {
  color: #111;
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: #fff;
  font-size: 2rem;
}

.heading h1 {
  margin: 5% 0% 0% 5%;
  font-size: 5rem;
  color: #111;
}

.btn {
  margin: 5% 0% 0% 35%;
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 1.7rem;
  color: #fff;
  border: 0.2rem solid #fff;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.regBtn {
  color: #fff;
  border: 0.2rem solid #fff;
  padding: 0.5rem 2rem;
  background: none;
  border-radius: 5rem;
  margin-left: 15%;
}

.btn:hover {
  background: #fff;
  color: #111;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-weight: bold;
  z-index: 1000;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.5rem 9%;

}

.header>img {
  width: 20%;
  height: 50%;
  text-align: center;
  /* position: absolute; */
  /* left: 26%; */
}

.header .navbar a {
  font-size: 1.7rem;
  color: black;
  display: inline-block;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: black;
}

.header .btn {
  margin-top: 0;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  width: 10% !important;
  font-weight: bold;
  /* width: -10%; */
}


.logo i {
  color: #fff;
  padding-right: .5rem;
}

#menu-btn {
  font-size: 2.5rem;
  color: black;
  cursor: pointer;
  display: none;
}

.home {
  margin: 0 auto;
  margin-top: 9rem;
  width: 90%;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../images/Investment\ account.PNG) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(/images/Investment\ account.PNG) no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 5rem;
}

.home .content {
  text-align: center;
}

.home .content span {
  font-weight: bolder;
  /* color: transparent; */
  -webkit-text-stroke: 0.1rem #fff;
  font-size: 4vw;
  display: block;
}


.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 10rem;
}

.about .video-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.about .video-container video {
  border-radius: 1rem;
  width: 100%;
}

.about .video-container .controls {
  text-align: center;
  padding: 2rem 0;
}

.about .video-container .controls span {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: .7rem;
}

.about .video-container .controls span:hover {
  background: #fff;
}

.about .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  margin-bottom: 0rem;
  /* mar */
  /* margin-top: 400% !important; */
}


@media (max-width: 770px) {
  .about>.content {
    margin-top: -10%;
  }

  form {
    margin-top: -10% !important;
  }

}

@media (min-width: 787px) {
  .about>.content {
    margin-top: -10%;
  }

  form {
    margin-top: 10% !important;
  }

  .destination .box-container>.box {
    margin-left: 50% !important;

  }
}


@media (max-width: 1000px) {
  .about>.content {
    margin-top: -20%;
  }

  .destination .box-container>.box {
    margin-left: 50%;
  }

}

@media (min-width: 1050px) {
  .about>.content {
    margin-top: 10% !important;
  }

  form>.formAlign {
    margin-top: -50% !important;
  }
}

@media (max-width: 1050px) {
  .about>.content {
    margin-top: -20% !important;
  }

  form {
    margin-top: -30%;
  }
}

.about .content span {
  color: #fff;
  font-size: 2rem;
}

.about .content h3 {
  color: #fff;
  font-size: 4rem;
  margin-top: .5rem;
}

.about .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.destination .box-container>.box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
  /* width: 50%; */
  /* height: 10% !important; */
}

@media (max-width: 870px) {
  .destination .box-container .box {
    margin-left: 30% !important;
  }
}

@media (min-width: 547px) {
  .destination .box-container {
    margin-left: -50% !important;
  }

  form {
    margin-top: -2% !important;
  }
}

@media (max-width: 547px) {
  .destination .box-container {
    width: auto;
    margin-left: -30% !important;
  }

  form {
    margin-top: -2% !important;
  }
}

@media (min-width: 547px) {
  .destination .box-container {
    margin-left: auto !important;
  }

  form {
    margin-top: 18% !important;
    width: 50%;
    margin-left: 26%;
  }
}

@media (max-width: 450px) {
  .destination .box-container {
    margin-left: 0% !important;
  }

  .logo {
    width: 20% !important;
  }
}

@media (max-width: 670px) {
  .destination .box-container {
    margin-left: -50%;
  }
}

@media (min-width: 670px) {
  .destination .box-container {
    width: auto;
    margin-left: 10%;
  }
}

@media (max-width: 560px) {
  .destination .box-container {
    margin-left: -15%;
  }
}

.destination .box-container .box {
  overflow: hidden;
  margin-left: 35% !important;
}

.destination .box-container .box:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.destination .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}

.destination .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.destination .box-container .box .content {
  font-size: medium;
}

.destination .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
}

.destination .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.destination .box-container .box .content a {
  font-size: 1.7rem;
  color: #fff;
}

.destination .box-container .box .content a:hover i {
  padding-left: 1rem;
}

.destination .box-container .box .content a i {
  padding-right: .5rem;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  padding: -10% !important;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer {

  background: white;
  padding: 50%;
}

.footer .box-container .box {
  padding: 1rem 0;
}

.footer .box-container .box .logo {
  padding-bottom: 1rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #111;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: #111;
  padding: -3rem 10px;
  line-height: 2;
  text-transform: none;
}

.footer .box-container .box p i {
  padding-right: .5rem;
  color: #111;
}

.footer .box-container .box .share {
  padding-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  font-size: 1.7rem;
  border: 0.2rem solid #111;
  color: #111;
  margin-right: .5rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: #111;
  color: #fff;
}

.footer .box-container .box .links {
  font-size: 1.4rem;
  color: #111;
  padding: 1rem 0;
  display: block;
}

.footer .box-container .box .links:hover {
  color: #111
}

.footer .box-container .box .links:hover i {
  padding-right: 2rem;
}

.footer .box-container .box .links i {
  padding-right: .5rem;
  color: #111;
}


.footer .box>img {
  width: 80%;
  height: 40%;
  margin: 0px 0px 0px 0%;
  text-align: center;
}

@media screen and (max-width:900px) {
  .footer .box>img {
    width: 40%;
    margin: -5px auto;
    height: 104%;
  }
}

.credit {
  background: #222;
  text-align: center;
  font-size: 2rem;
  padding: 1rem 1rem;
  color: #aaa;
}

.credit span {
  color: #fff;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .investPlanInput{
    width: 70%;
    margin-left: 10%;
    padding: -5%;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: inline;
  }

  .home {
    margin-top: 10rem;
  }

  .home .content span {
    font-size: 8vw;
  }

  .home .content h3 {
    font-size: 9vw;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .about .content h3 {
    font-size: 3.5rem;
  }

  .banner .content h3 {
    font-size: 2.7rem;
  }

  .destination .box-container .box {
    margin-left: 0% !important;

  }

  form {
    margin: 17% 19% 0% 17% !important;
  }
}

@media (min-width: 450px) {
  .destination>.box-container>.box {
    margin-left: 35% !important;

  }
}

/* product css */

/* .product {
  background-image: url(/images/Investment\ account.PNG);
  background-repeat: no-repeat;
  width: 100% !important;
  margin: -50% !important; */
/* } */

/*# sourceMappingURL=style.css.map */


/* product css */

.products .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.products .box-container .box {
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  border: 0.2rem solid #111;
}

.products .box-container .box:hover {
  border: 0.2rem solid #111;
}

.products .box-container .box i {
  /* font-size: 4rem; */
  color: #fff;
  margin-bottom: 2rem;
}

.products .box-container .box h3 {
  font-size: 3rem;
  color: #111;
  font-weight: bold;
}

.products .box-container .box p {
  padding: 1rem 0;
  font-size: 2rem;
  color: #111;
  /* line-height: 2; */
  font-weight: bold;

}

.investBtn {
  font-size: 2rem;
  padding: 2%;
  color: #fff;
  font-weight: bold;
  border-radius: 15%;
  background-color: #111;
}


.newsText {
  margin-top: 20%;
  text-align: center;
}

.newsTextarea {

  /* margin-top: 10% !important; */
  width: 85% !important;
  padding: 30% !important;
  margin: 30px 0% 0% 8% !important;
  /* text-align: center; */
  border: 3px solid gray;
  /* align-items: center !important; */
}

.formAlign {
  border: 0.4rem solid black;
  border-radius: 5%;
  margin: -5% 10% -20% 35% !important;
  padding: 2%;
}


@media (max-width: 800px) {
  .formAlign {
    margin: 17% 4% 6% 9% !important;
    width: 82%;
  }
}

@media (min-width: 800px) {
  .formAlign {
    margin: -5% 7% 8% 27% !important;
    padding: 2%;
    width: 50%;
  }
}

.dropbtn {
  background: none;
  color: #111;
  font-weight: bold;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  /* background-color: #2980B9; */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 208px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}


.luckyDraw-Image {
  width: 70%;
}

.luckyDraw-btn{
  padding: 1rem;
  width: 20%;
  font-size: 1rem;
  margin: 5% 0% 0% 60%;
  border: 0.2rem solid black;
}


