@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

body{
  /* font-family: 'Poppins', sans-serif; */
  line-height: 1.5;
  background-color: greenyellow;
}

.navbar {

  /* background-color: red !important; */
}


.nav-link {
  color: #3c3c3c;

  font-weight: bold !important;
}

form {
  border: 2px solid black;

}

.form-group {
  padding: 1rem;
}

.btn {
  /* text-align: center; */
  border-radius: 6rem;

}

#register {
  font-size: 14px;
  text-decoration: none;
  /* color: #CBBDDB; */
  margin: 10% auto;
  width: 50%;
  text-align: center;

}

#register a {
  margin: 10%;
  /* color: #8F7CEC; */
  text-decoration: none;
}

.heading {
  margin: 30px;
  text-align: center;
  /* margin-top: 20px; */
  /* font-weight: bold; */

}

.content {
  /* background-image: url(../images/banner-bg.jpeg); */
  background-repeat: no-repeat;
  /* width: 20%; */
  background-size: cover;
  background-position: center;
 
}